
@-webkit-keyframes squiggly-anim {
    0% {
      filter: url("#squiggly-0");
    }
    25% {
      filter: url("#squiggly-1");
    }
    50% {
      filter: url("#squiggly-2");
    }
    75% {
      filter: url("#squiggly-3");
    }
    100% {
      filter: url("#squiggly-4");
    }
  }
  @keyframes squiggly-anim {
    0% {
      filter: url("#squiggly-0");
    }
    25% {
      filter: url("#squiggly-1");
    }
    50% {
      filter: url("#squiggly-2");
    }
    75% {
      filter: url("#squiggly-3");
    }
    100% {
      filter: url("#squiggly-4");
    }
  }
  
   @font-face {
    font-family: 'kbtruebeliever';
    src: url('./fonts/kbtruebeliever.woff2') format('woff2'),
         url('./fonts/kbtruebeliever.woff') format('woff'),
         url('./fonts/kbtruebeliever.tff') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'kbpancakeparty';
    src: url('./fonts/kbpancakeparty.woff2') format('woff2'),
         url('./fonts/kbpancakeparty.woff') format('woff'),
         url('./fonts/kbpancakeparty.tff') format('truetype');
 }

 @font-face {
  font-family: 'kbpancakeparty';
  src: url('./fonts/kbpancakeparty.woff2') format('woff2'),
       url('/fonts/kbpancakeparty.woff') format('woff'),
       url('/fonts/kbpancakeparty.tff') format('truetype');
}

@font-face {
  font-family: 'kbpancakeparty';
  src: url('./fonts/kbpancakeparty.woff2') format('woff2'),
       url('./fonts/kbpancakeparty.woff') format('woff'),
       url('./fonts/kbpancakeparty.tff') format('truetype');
}

  @font-face {
    font-family: 'kbsneakywalrus';
    src: url('./fonts/kbsneakywalrus.woff2') format('woff2'),
         url('./fonts/kbsneakywalrus.woff') format('woff');
    font-weight: 600;
  }
  
body {
    background-color: white; 
}

.first {
    -webkit-animation: squiggly-anim 0.34s linear infinite;
            animation: squiggly-anim 0.34s linear infinite;
    font-size: 50px;
    font-family: 'kbtruebeliever';
    font-weight: 900;
    margin-top: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /* background: #f3f3f3ef; */
   /* box-shadow: -1.5px 2px 1px 1px black;  */
   /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 0px 13px -1px, rgba(0, 0, 0, 0.4) 0px -1px 0px inset; */
   /* border-radius: 5px; */
   /* border-style: none; */
}

#start {
    margin-top: -30px;

    font-size: 16px;
    font-weight: 400;
    font-family: 'kbtruebeliever';

    color: rgb(0, 0, 0);
    background: none;
    border: none;

    -webkit-animation: squiggly-anim 0.34s linear infinite;
            animation: squiggly-anim 0.34s linear infinite;
    font-size: 50px;
    /* border-radius: 5px; */
    /* border-style: none; */
    /* box-shadow: -1.5px 2px 1px 1px black; */
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -3px 0px inset; */
}
#start:hover {
    /* background-color: rgb(241, 240, 240); */
    cursor: pointer;
}

  .board {
    opacity: 0;
    display: none;
    margin-top: -50px;
  }

  .top {
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
  }

  /* Player and Computer */
  .score {
    font-size: 20px;
    font-family: 'kbpancakeparty';
    -webkit-animation: squiggly-anim 0.34s linear infinite;
            animation: squiggly-anim 0.34s linear infinite;
            display: flex;    
    }
  
  /* 0 style */
  .plScore, .comScore {
    font-family: 'kbpancakeParty';
    font-size: 26px;
    margin-top: 30px;;
    margin-left: 10px;
  }

  .middle {
    width: 100%;
  }

  .second {
    margin-top: 200px;
    opacity: 0;
    margin-bottom: 50px;
  }

  .handsContainer {
    display: flex;
    justify-content: space-evenly;
  }
  
  .playerHand {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  .computerHand {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .player {
    height: 300px;
    margin-right: 20px;
    width: 350px;
  }

  .computer {
    height: 300px;
    width: 350px;
    margin-right: 10px;
  }

  .messageDisplay {
    text-align: center;
    -webkit-animation: squiggly-anim 0.34s linear infinite;
            animation: squiggly-anim 0.34s linear infinite;
    font-size: 26px;
    margin-right: 10px;
    font-family: 'kbpancakeparty';

    margin-top: -12px;
  }
  
  .bottom {
    opacity: 0;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .bottom button {
    margin: 20px 20px 0px 10px;
    border: solid black 3px;
    border-radius: 15%;
    background-color: white;;
  }

  .bottom button:hover {
    cursor: pointer;
    background-color: rgb(250, 246, 246);
  }

  .bottom button:active {
    background-color: rgb(250, 246, 246);
    box-shadow: 0 3px rgb(65, 64, 64);
    transform: translateY(4px);
  }

  .footer {
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    
    font-size: 16px;
    font-family: 'kbsneakywalrus';
    font-weight: 600;

    -webkit-animation: squiggly-anim 0.34s linear infinite;
            animation: squiggly-anim 0.34s linear infinite;
  }


  /* Main title start game fade out */
  .fadeOut {
    opacity: 0;
    transition: opacity 0.3s ease
  }
  
  .fadeIn {
    opacity: 1;
    transition: opacity 0.9s ease 0.6s
  }

  @media (max-width: 550px) {
    .first {
      font-size: 22px;
    }

    #start {
      font-size: 36px;
    }
  
    .messageDisplay {
      font-size: 24px;
    }


    .top {
      font-size: 16px;
    }

    .bottom button {
      gap: 10px;
    }

    .footer {
      text-align: center;
    }
  }

  