* {
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.the-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: 600;
}

.player-note {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin-top: 25px;

}

button {
    width: 150px;
    height: 50px;
    margin-top: 20px;

    font-size: 16px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;

    color: white;
    background-color: green;

    border-radius: 5px;
    border-style: none;
   /* box-shadow: -1.5px 2px 1px 1px black; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -3px 0px inset;
}

button:hover {
    background-color: rgb(0, 63, 0);
    cursor:  pointer;
}

